<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NoMySql.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="roundValue" value="1000"/>
    <add key="AlarmTime" value="100"/>
    <add key="WalkingTime" value="0"/>
    <add key="maxRecordCsv" value="100000"/>
  </appSettings>
  <userSettings>
    <NoMySql.Properties.Settings>
      <setting name="xAxis" serializeAs="String">
        <value />
      </setting>
      <setting name="yAxis" serializeAs="String">
        <value />
      </setting>
    </NoMySql.Properties.Settings>
  </userSettings>
</configuration>
