<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GiaPha.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <GiaPha.My.MySettings>
            <setting name="intGeneration" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="intCardSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="intCardStyle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intInitGeneration" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intMaxDrawGeneration" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="strCard1Bg" serializeAs="String">
                <value/>
            </setting>
            <setting name="strCreateMember" serializeAs="String">
                <value/>
            </setting>
            <setting name="intHozBuffer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="intVerBuffer" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="blnShowUnknownBirthDay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="intDeadDateShowType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="blnTypeCardShort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="intSelectedTypeCardShort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="objColorBackgroupCard" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="objColorBackgroupCardDie" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="blnShowBackgroupDie" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="objColorText" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="objFontDefaut" serializeAs="String">
                <value>Times New Roman, 8.25pt</value>
            </setting>
            <setting name="intSelectedTypeShowTree" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="intHozSize" serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="intVerSize" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="blnShowLevel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="blnShowGender" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="intTypeDrawText" serializeAs="String">
                <value>0</value>
            </setting>
        </GiaPha.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
