table.blueTable-incident {
    border: 1px solid #FFFFFF;
    width: 100%;
    background-color: #d3d3d3 !important;
    margin-top: 10px !important;
}

table.blueTable-incident td, table.blueTable-incident th {
    border: 1px solid #FFFFFF;
}
table.blueTable-incident td{
    vertical-align: top;
}
table.blueTable-incident thead th {
    font-weight: bold;
    border-left: 2px solid #FFFFFF;
    width: 20%;
    text-align: center;
    padding: 20px 0;
}


@media  screen and (max-width: 1366px) {
    /* insert styles here */
    table.blueTable-incident thead th {
        padding: 5px 0;
    }
}