<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WithMySql.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<appSettings>
		<add key="connectionString" value="Server=localhost; database=systech; port=3306; UID=root; password=; Connection Timeout=30; charset=utf8; persistsecurityinfo=True; SslMode=none"/>
		<add key="PathDataErrors" value="\Data Errors"/>
		<add key="roundValue" value="1000"/>
    <add key="AlarmTime" value="100"/>
    <add key="WalkingTime" value="0"/>
		<add key="timeDeleteMeasureDetailRaw" value="180"/>  <!-- day -->
	</appSettings>
    <userSettings>
        <WithMySql.Properties.Settings>
            <setting name="xAxis" serializeAs="String">
                <value/>
            </setting>
            <setting name="yAxis" serializeAs="String">
                <value/>
            </setting>
        </WithMySql.Properties.Settings>
    </userSettings>
</configuration>
